{% extends 'base.html.twig' %}

{% block title %}Edit Account
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center" style="height: 80vh; padding-top: 5vh;">
			<div class="col-12 col-md-6 col-lg-4">

				<h1>Edit Account</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit">Save changes</button>
				{{ form_end(form) }}

				<a href="{{ path('app_account') }}">Cancel</a>

			</div>
		</div>
	</div>
{% endblock %}
