html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar-brand small {
    display: block;
    font-size: 0.7rem;
    line-height: 1.2;
}

.cart-info {
    display: flex;
    align-items: center;
}

.cart-info>div {
    margin-left: 1rem;
}

nav a,
footer a {
    text-decoration: none;

}

#item-count,
#total-amount {
    color: white;
    text-align: center;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

.actions {
    display: flex;
    justify-content: center;
}

img {

    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 10px;
}