.navbar-brand small {
    display: block;
    font-size: 0.7rem;
    line-height: 1.2;
}

.cart-info {
    display: flex;
    align-items: center;
}

.cart-info>div {
    margin-left: 1rem;
}

nav a,
footer a {
    text-decoration: none;

}

#item-count,
#total-amount {
    color: white;
    text-align: center;
}

/* 
img {
    width: 150px;
    height: 200px;


} */

img {

    object-fit: contain;
}