{% extends 'base.html.twig' %}

{% block title %}LineShop
{% endblock %}

{% block body %}
	{% if session.user is defined %}
		<p class="text">
			Welcome aaa@a.fr you can
			<a class="logout" href="{{path('app_logout')}}">Logout</a>
		</p>
	{% else %}
		<p class="text">
			Welcome, you can
			<a class="logout" href="{{path('app_login')}}">Login</a>
		</p>
	{% endif %}
	<ul>
		<li>
			<a href="#">All Categories</a>
		</li>
		<li>
			<a href="#">Consoles</a>
		</li>
		<li>
			<a href="#">Jeux</a>
		</li>
	</ul>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Console PS4">
					<div class="card-body">
						<h5 class="card-title">Console PS4</h5>
						<p class="card-text">299 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Console Wii U">
					<div class="card-body">
						<h5 class="card-title">Console Wii U</h5>
						<p class="card-text">489 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Console Xbox 360">
					<div class="card-body">
						<h5 class="card-title">Console Xbox 360</h5>
						<p class="card-text">309 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Assassin's Creed PS4">
					<div class="card-body">
						<h5 class="card-title">Assassin's Creed PS4</h5>
						<p class="card-text">66 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Dragon Ball Fighter">
					<div class="card-body">
						<h5 class="card-title">Dragon Ball Fighter</h5>
						<p class="card-text">55 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Zombi U Wii U">
					<div class="card-body">
						<h5 class="card-title">Zombi U Wii U</h5>
						<p class="card-text">19 €</p>
						<i class="bi bi-gift"></i>
						<a href="#" class="btn btn-primary">+</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>{% endblock %}
